.accordionContainer {
    border-bottom: 1px solid #374051;
    width: 700px;
  }
  .accordionContainer:last-child{
    border-bottom: none;
  }
  .accordionHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 5px 14px;
    color: white;
  }
  .accordionHeader h3{
    font-family: 'IBM Plex Mono', monospace;
  }
  .accordionIcon {
    font-size: 15px;
    transition: transform 0.2s;
  }
  
  .rotate {
    transform: rotate(180deg);
  }
  
  .accordionContent {
    padding: 10px;
  }
  .accordionContent p{
    color: white;
  }
  .accordionItems{}
  @media screen and (max-width: 768px) {
    .accordionContainer{
        width: 80%;
        padding: 5px;
    }
  }
  @media screen and (max-width: 425px) {
    .accordionContainer{
        width: 90%;
    }
  }