.accordionContainer {
    border-bottom: 1px solid #374051;
  }
  .accordionContainer:last-child{
    border-bottom: none;
  }
  .accordionHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 5px 14px;
    color: white;
  }
  .accordionHeader h3{
    font-family: 'IBM Plex Mono', monospace;
    font-size: 25px;
    font-weight: 500;
  }
  .accordionIcon {
    font-size: 15px;
    transition: transform 0.2s;
  }
  
  .rotate {
    transform: rotate(180deg);
  }
  
  .accordionContent {
    padding: 10px;
  }
  .accordionContent p{
    color: white;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 20px;
  }
  @media screen and (max-width: 768px) {
    .accordionContent p{
        font-size: 15px;
    }
    .accordionHeader h3{
        font-size: 20px;
    }
  }
  @media screen and (max-width: 425px) {

  }