.container{
    
    
}
.children{
    min-height: 600px;
}
.headerSection, .footerSection{
    background-color: #17181c;
    padding: 0 60px;
}
@media screen and (max-width: 768px) {
    .headerSection, .footerSection{
        padding: 0;
    }
}