.container{
    background-color: #e1e1e1;
}
.header{
    background-color: white;
    padding-top: 35px;
    padding-bottom: 35px;
    padding-left: 60px;
    padding-right: 60px;
}
.content{
    padding: 80px 60px;
}
.pathWrapper{
    width: 100%;
    background-color: white;
    border: 1px solid black;
}
.contentHeader{
    font-size: 21px;
    font-weight: 700;
    font-family: 'Manrope', sans-serif;
    margin-bottom: 20px;
}
.pathTitle{
    padding: 40px 50px 20px 35px;
    display: flex;
    align-items: center;
    gap: 20px;
}
.pathTitleIcon{
    width: 50px;
    height: 50px;
    background-color: rgb(27, 212, 27);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 35px;
    border-radius: 50%;
}
.pathTitle span{
    font-family: 'Manrope', sans-serif;
    font-size: 22px;
    font-weight: 800;
}
.accordionSection{
    padding: 0 50px 20px 88px;
}


@media screen and (max-width: 768px) {
    .container{
        padding-left: 0;
        padding-right: 0;
    }
    .header{
        padding-left: 20px;
        padding-right: 20px;
    }
    .headerText{
        font-size: 40px;
    }
    .headerDesc{
        font-size: 12px;
    }
    .headerActions{
        margin-top: 25px;
    }
    .btn1, .btn2{
        font-size: 13px;
    }
    .content{
        padding: 40px 20px;
    }
}
@media screen and (max-width: 500px) {
    
    .pathTitle span{
        font-size: 18px;
    }
    .pathTitleIcon{
        display: none;
    }
    .accordionSection{
        padding: 0 20px 20px 30px;
    }
}
@media screen and (max-width: 425px) {
    .headerText{
        line-height: 50px;
        margin-bottom: 10px;
    }
    .accordionSection{
        padding: 0 10px 10px 10px;
    }
    .pathTitle{
        padding: 40px 10px 20px 20px;
    }
}